---
import '../styles/main.css'
import { useStoryblokApi } from '@storyblok/astro'
import StoryblokComponent from '@storyblok/astro/StoryblokComponent.astro'

const storyblokApi = useStoryblokApi()

const { data } = await storyblokApi.get('cdn/stories/home', {
	version: import.meta.env.DEV ? 'draft' : 'published',
})

const content = data.story.content
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link rel="preload" href="/fonts/poppins-regular.woff2" as="font" type="font/woff2" crossorigin />
    <link rel="preload" href="/fonts/poppins-medium.woff2" as="font" type="font/woff2" crossorigin />
    <link rel="preload" href="/fonts/poppins-semibold.woff2" as="font" type="font/woff2" crossorigin />
    <link rel="preload" href="/fonts/poppins-bold.woff2" as="font" type="font/woff2" crossorigin />
    <link rel="preload" href="/fonts/poppins-extrabold.woff2" as="font" type="font/woff2" crossorigin />
    <title>Michael V. Colianna | Senior Web Developer</title>
    <link rel="canonical" href="https://mvc.codes" />
    <meta name="title" content="Michael V. Colianna | Senior Web Developer" />
    <meta name="description" content="A hard-of-hearing/deaf full-stack web developer with over 20 years of experience and a drive to keep improving." />
    <meta name="image" content="https://mvc.codes/mvc-card.jpg" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://mvc.codes" />
    <meta property="og:title" content="Michael V. Colianna | Senior Web Developer" />
    <meta property="og:description" content="A hard-of-hearing/deaf full-stack web developer with over 20 years of experience and a drive to keep improving." />
    <meta property="og:image" content="https://mvc.codes/mvc-card.jpg" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:url" content="https://mvc.codes" />
    <meta name="twitter:title" content="Michael V. Colianna | Senior Web Developer" />
    <meta name="twitter:description" content="A hard-of-hearing/deaf full-stack web developer with over 20 years of experience and a drive to keep improving." />
    <meta name="twitter:image" content="https://mvc.codes/mvc-card.jpg" />
    <meta name="robots" content="noai, noimageai" />
  </head>

  <body class="bg-gray-100">
    <StoryblokComponent blok={content} />
  </body>
</html>
