---
import { storyblokEditable } from '@storyblok/astro'

const { blok } = Astro.props
---

<div><strong>{blok.component}</strong></div>
<pre {...storyblokEditable(blok)}>{JSON.stringify(blok, null, 2)}</pre>
