---
import { storyblokEditable } from '@storyblok/astro'
import Markdown from '@components/Markdown.astro'
import StoryblokComponent from '@storyblok/astro/StoryblokComponent.astro'

const { blok } = Astro.props
---

<section {...storyblokEditable(blok)} class="py-10 md:py-16">
  <div class="container max-w-screen-xl mx-auto px-4">
    {blok.headline && <h1 class="font-medium text-gray-700 text-3xl md:text-4xl mb-5">{blok.headline}</h1>}

    {blok.description && <Markdown classes="font-normal text-gray-500 text-xs md:text-base mb-20" content={blok.description} />}

    {blok.cards.length > 0 && (
      <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
        {blok.cards.map((card) => <StoryblokComponent blok={card} />)}
      </div>
    )}
  </div>
</section>
