---
import { storyblokEditable } from '@storyblok/astro'
import Markdown from '@components/Markdown.astro'

const { blok } = Astro.props
---

<section {...storyblokEditable(blok)} class="py-10 md:py-16">
  <div class="container max-w-screen-xl mx-auto px-4">
    <div class="text-center">
      {blok.headline && <h2 class="font-normal text-gray-300 text-3xl md:text-6xl lg:text-7xl mb-12">{blok.headline}</h1>}

      {blok.description && <Markdown classes="font-medium text-gray-700 text-xs md:text-base" content={blok.description} />}
    </div>
  </div>
</section>
