---
import { storyblokEditable } from '@storyblok/astro'
import Bluesky from '@components/icons/Bluesky.astro'
import Email from '@components/icons/Email.astro'
import GitHub from '@components/icons/GitHub.astro'
import Link from '@components/Link.astro'
import LinkedIn from '@components/icons/LinkedIn.astro'
import Markdown from '@components/Markdown.astro'

const { blok } = Astro.props
---

<footer {...storyblokEditable(blok)} class="py-10 md:py-16 mb-20 md:mb-40 lg::mb-52">
  <div class="container max-w-screen-xl mx-auto px-4">
    <div class="text-center">
      {blok.headline && <h2 class="font-medium text-gray-700 text-4xl md:text-5xl mb-5">{blok.headline}</h2>}

      {blok.description && <Markdown classes="font-normal text-gray-800 text-md md:text-lg mb-20" content={blok.description} />}

      <div class="flex items-center justify-center space-x-8">
        <Link link={{ url: 'https://www.linkedin.com/in/michaelvcolianna/', target: '_blank' }} classes="w-16 h-16 flex items-center justify-center rounded-full hover:bg-gray-200 transition ease-in-out duration-500">
          <LinkedIn />
        </Link>

        <Link link={{ url: 'https://github.com/michaelvcolianna', target: '_blank' }} classes="w-16 h-16 flex items-center justify-center rounded-full hover:bg-gray-200 transition ease-in-out duration-500">
          <GitHub />
        </Link>

        <Link link={{ url: 'mailto:info@mvc.codes' }} classes="w-16 h-16 flex items-center justify-center rounded-full hover:bg-gray-200 transition ease-in-out duration-500">
          <Email />
        </Link>
      </div>
    </div>
  </div>
</footer>
